/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  width: 100%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  align-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 10px 10px 10px 10px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  align-content: center;
  width: 100%;
  padding: 14px 20px;
  background-color: #f43427;
  letter-spacing: 1px;
  border-radius: 10px 10px 10px 10px;
}

/* Extra style for the Google logIn button (orange) */
/*
.googleLogInbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 0%;
  background-color: #f44422;
}
*/

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 10%;
}

/* Add padding to containers */
.grid_12 {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}